/* elavated position */
.neuroRect{
	--rising-edge: 0.1s;
	--falling-edge: 0.1s;
	--hold-time: 0.03s;

	transition: var(--rising-edge) box-shadow linear;
	box-shadow:
			7px 7px 14px #d4dae200,
			-7px -7px 14px #f0f6fe00;
}
.neuroRect:hover {
	transition-delay: calc(var(--falling-edge) + var(--hold-time));
	box-shadow:
		7px 7px 14px #d4dae2,
		-7px -7px 14px #f0f6fe;
}

/* natural position */
.neuroRectBack{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	
	box-shadow: inset 7px 7px 14px #d4dae2,
		inset -7px -7px 14px #f0f6fe;
	z-index: -1;

	transition: box-shadow var(--falling-edge) linear calc(var(--rising-edge) + var(--hold-time));
}
.neuroRect:hover .neuroRectBack{
	transition-delay: 0ms;
	box-shadow: inset 7px 7px 14px #d4dae200,
			inset -7px -7px 14px #f0f6fe00;
}

/* scaling */
.neuroRect .neuroRectContent{
	transition: transform 0.4s ease;
	transform: scale(99%);
}
.neuroRect:hover .neuroRectContent{
	transform: scale(100%);
}